{% extends 'practica_3_task_1_base.html' %}

{% block content %}

    <h2>Информация о всех студентах:</h2>
    {% for student in students %}
            <p>
                student.id =
                {{ student.id }}
                <br>
                student.name =
                {{ student.name }}
                <br>
                student.surname =
                {{ student.surname }}
                <br>
                student.age =
                {{ student.age }}
                <br>
                student.gender =
                {{ student.gender }}
                <br>
                student.group =
                {{ student.group }}
                <br>
                student.faculty_id =
                {{ student.faculty_id }}
                <br>
                student.information_about_faculty.title_faculty =
                {{ student.information_about_faculty.title_faculty }}
            </p>
    {% endfor %}

    <h2>Информация о студентах связанных с факультетом имеющим id=1:</h2>
    {% for student in faculty_one.students %}
        <p>
            student.id =
            {{ student.id }}
            <br>
            student.name =
            {{ student.name }}
            <br>
            student.surname =
            {{ student.surname }}
            <br>
            student.age =
            {{ student.age }}
            <br>
            student.gender =
            {{ student.gender }}
            <br>
            student.group =
            {{ student.group }}
            <br>
            student.faculty_id =
            {{ student.faculty_id }}
            <br>
            student.information_about_faculty.title_faculty =
            {{ student.information_about_faculty.title_faculty }}
        </p>
    {% endfor %}

{% endblock %}
